/* universal styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif; 
}

/* shared styles */

.btn-primary{
    padding: 18px 36px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

.btn-secondary{
    padding:18px 36px ;
    border-radius: 5px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    background: none;
    margin-left: 30px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;

}

.section-description{
    color: #757575;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.resume-title{
   color: #474747;
   font-size: 30px;
   font-weight: 700;
   margin: 115px 0 30px 0; 
}
.skill-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;

}




/* header design */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* navbar design */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px;
}

.logo h2 {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
.logo h2 span{
    color:#FD6E0A ;
}

/* menu design */
nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;

}

/* hero design */
.hero-container{
    display: flex;
    padding: 47px 47px 0px 230px ;
    justify-content: space-between;
}
.hero{
    margin-top: 185px;
}
.hero-intro{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.hero-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}
.hero-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.header{
    
    
}

.profile-pic{
    max-width: 584px;
    max-height: 676px;
}

/* main section */
.main-container{
    margin: 130px 230px;
}

/* about me section design */
.about{
    padding: 130px 150px;
    border-radius: 10px;
    background: #FFF8F3;
}
.info-container{
    display: flex;
    justify-content: space-between;
    
}
.about-info{
    padding-top: 30px;
}
.info-title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.info-description{
    color: #474747;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* what I do section */
.expertise{
    padding: 130px 0;
}
.what-container{
    padding: 0 115px;
}
.card-container{
    display: flex;
    justify-content: space-between;
}
.card{
    padding: 30px;
    margin: 50px 12px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.card-title{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0px 20px 0px;

}
.card-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: justify;
}
.skill{
    display: flex;
    justify-content: space-between;
}
.education{
   margin-right: 70px;

    
}
.skill-card > hr{
    margin-bottom: 30px;
}
.download{
    margin: 50px auto;
    text-align: center;
}